<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff"
    style="padding: 0px; line-height: 1px; font-size: 1px; margin: 0px auto;">
    <tbody>
        <tr>
            <td width="100%" align="center" style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">

                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F5F8FA" width="100%"
                    dir="ltr" style="padding: 0px; line-height: 1px; font-size: 1px; margin: 0px auto;">
                    <tbody>
                        <tr>
                            <td style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff"
                                    width="450"
                                    style="padding: 0px; line-height: 1px; font-size: 1px; margin: 0px auto;">
                                    <tbody>
                                        <tr>
                                            <td width="24"
                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                &nbsp; </td>
                                            <td
                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                <table cellpadding="0" cellspacing="0" border="0" align="center"
                                                    dir="ltr"
                                                    style="padding: 0px; line-height: 1px; font-size: 1px; margin: 0px auto;">
                                                    <tbody>
                                                        <tr>
                                                            <td height="24"
                                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                                &nbsp; </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right"
                                                                style="margin: 0px auto; font-size: 0px; line-height: 100%; padding: 0px;">
                                                                <a href="https://t.co/redirect?url=https%3A%2F%2Fx.com&amp;t=1&amp;cn=b25ib2FyZGluZ192ZXJpZnlfZW1haWw%3D&amp;sig=b2efd0eb7a2cd5ca75298702bbe83719056b6ca9&amp;iid=bd4cc397e980473f9b790aef29009ba3&amp;uid=1044315199879229441&amp;nid=296+1"
                                                                    style="border: 0px; padding: 0px; margin: 0px; color: rgb(29, 161, 242); text-decoration: none;">
                                                                    <img src="https://ton.twitter.com/twitter_blue_for_business/verified-programs/x_logo.png"
                                                                        width="32" alt="[template_app_name]"
                                                                        title="[template_app_name]"
                                                                        style="margin: 0px; padding: 0px; display: inline-block; border: none; outline: none;">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="24"
                                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                                &nbsp; </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" dir="ltr"
                                                                style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; text-size-adjust: none; font-size: 24px; padding: 0px; margin: 0px; font-weight: bold; line-height: 32px;">
                                                                [template_title] </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="24"
                                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                                &nbsp; </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" dir="ltr"
                                                                style="font-family: &quot;Helvetica Neue Light&quot;, Helvetica, Arial, sans-serif; text-size-adjust: none; font-size: 16px; padding: 0px; margin: 0px; font-weight: normal; line-height: 22px;">
                                                                [template_body] </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="24"
                                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                                &nbsp; </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" dir="ltr"
                                                                style="font-family: &quot;Helvetica Neue Light&quot;, Helvetica, Arial, sans-serif; text-size-adjust: none; font-size: 16px; padding: 0px; margin: 0px; font-weight: normal; line-height: 22px;">
                                                                [template_subtitle]
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                                &nbsp; </td>
                                                        </tr>

                                                    <tbody data-otp-code="[start_of_otp_code]">
                                                        <tr>
                                                            <td align="left" dir="ltr"
                                                                style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; text-size-adjust: none; font-size: 32px; padding: 0px; margin: 0px; font-weight: bold; line-height: 36px;">
                                                                [template_otp_code] </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="6"
                                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                                &nbsp; </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" dir="ltr"
                                                                style="font-family: &quot;Helvetica Neue Light&quot;, Helvetica, Arial, sans-serif; text-size-adjust: none; font-size: 14px; padding: 0px; margin: 0px; font-weight: normal; line-height: 18px;">
                                                                [template_otp_subtitle] </td>
                                                        </tr>
                                                    </tbody>

                                                    <tr>
                                                        <td height="24"
                                                            style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                            &nbsp; </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" dir="ltr"
                                                            style="font-family: &quot;Helvetica Neue Light&quot;, Helvetica, Arial, sans-serif; text-size-adjust: none; font-size: 16px; padding: 0px; margin: 0px; font-weight: normal; line-height: 22px;">
                                                            Thanks,<br> [template_app_name] </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="32"
                                                            style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                            &nbsp; </td>
                                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="24" style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                &nbsp; </td>
                        </tr>
                    </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" bgcolor="#ffffff"
                    style="padding: 0px; line-height: 1px; font-size: 1px; margin: 0px auto;">
                    <tbody>
                        <tr>
                            <td width="24" style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                &nbsp; </td>
                            <td style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                <table align="center" dir="ltr"
                                    style="padding: 0px; line-height: 1px; font-size: 1px; margin: 0px auto;">
                                    <tbody>
                                        <tr>
                                            <td height="48"
                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                &nbsp; </td>
                                        </tr>
                                        <tr>
                                            <td align="center" dir="ltr"
                                                style="color: rgb(101, 119, 134); font-family: &quot;Helvetica Neue Light&quot;, Helvetica, Arial, sans-serif; text-size-adjust: none; font-size: 12px; padding: 0px; line-height: 16px; font-weight: bold; text-align: center; margin: auto;">
                                                <a href="https://t.co/redirect?url=https%3A%2F%2Fsupport.x.com%2F&amp;t=1&amp;cn=b25ib2FyZGluZ192ZXJpZnlfZW1haWw%3D&amp;sig=aac82cfd64a12bb6429e625c050dc04419cfc6a5&amp;iid=bd4cc397e980473f9b790aef29009ba3&amp;uid=1044315199879229441&amp;nid=296+3"
                                                    style="border: 0px; padding: 0px; margin: 0px; text-decoration: none; color: rgb(136, 153, 166);">
                                                    Help </a> &nbsp;|&nbsp; <a
                                                    href="https://t.co/redirect?url=https%3A%2F%2Fsupport.x.com%2Farticles%2F204820-fake-twitter-emails&amp;t=1&amp;cn=b25ib2FyZGluZ192ZXJpZnlfZW1haWw%3D&amp;sig=46482b5d6ffdf378aa8c16dbd2ff450589d22bd7&amp;iid=bd4cc397e980473f9b790aef29009ba3&amp;uid=1044315199879229441&amp;nid=296+4"
                                                    style="border: 0px; padding: 0px; margin: 0px; white-space: nowrap; text-decoration: none; color: rgb(136, 153, 166);">
                                                    Email security tips </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="12"
                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                &nbsp; </td>
                                        </tr>
                                        <tr>
                                            <td align="center"
                                                style="font-family: &quot;Helvetica Neue Light&quot;, Helvetica, Arial, sans-serif; text-size-adjust: none; font-size: 12px; padding: 0px; font-weight: normal; line-height: 16px; text-align: center; margin: auto; color: rgb(136, 153, 166);">
                                                <span>[template_app_name] Corp. ﻿1355 ﻿Market ﻿Street,
                                                    ﻿Suite ﻿900
                                                    ﻿San&nbsp;Francisco,&nbsp;CA&nbsp;94103</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="50"
                                                style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                                &nbsp; </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="24" style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                                &nbsp; </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="32" style="margin: 0px auto; font-size: 0px; line-height: 1px; padding: 0px;">
                &nbsp; </td>
        </tr>
    </tbody>
</table>
</td>
</tr>
<tr>
    <td align="center"
        style="padding: 0px; margin: 0px auto; color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14px;">
        ———————————————————————————— </td>
</tr>
<tr>
    <td align="center" style="padding: 0px; margin: 0px auto;">
        <table align="center" style="padding: 0px; line-height: 1px; font-size: 1px; margin: 0px auto;">
            <tbody>
                <tr>
                    <td width="135" height="1" style="padding: 0px; margin: 0px auto;"> <img
                            src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1"
                            width="130"
                            style="margin: 0px; padding: 0px; display: inline-block; border: none; outline: none;">
                    </td>
                    <td width="135" height="1" style="padding: 0px; margin: 0px auto;"> <img
                            src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1"
                            width="130"
                            style="margin: 0px; padding: 0px; display: inline-block; border: none; outline: none;">
                    </td>
                    <td width="135" height="1" style="padding: 0px; margin: 0px auto;"> <img
                            src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1"
                            width="130"
                            style="margin: 0px; padding: 0px; display: inline-block; border: none; outline: none;">
                    </td>
                    <td width="135" height="1" style="padding: 0px; margin: 0px auto;"> <img
                            src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1"
                            width="130"
                            style="margin: 0px; padding: 0px; display: inline-block; border: none; outline: none;">
                    </td>
                    <td width="135" height="1" style="padding: 0px; margin: 0px auto;"> <img
                            src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1"
                            width="130"
                            style="margin: 0px; padding: 0px; display: inline-block; border: none; outline: none;">
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
</tbody>
</table>